<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtdmybatis-3-mapper.dtd">
<mapper namespace="com.naver.pretoon.Member.MemberMapper">
	<select id="selectAll" parameterType="java.lang.String" resultType="com.naver.pretoon.Member.MemberVO">
		select * from ${webtoon_name}
	</select>
	<select id="selectVoteData" parameterType="java.lang.String" resultType="com.naver.pretoon.Member.VoteVO">
		select name,vote from ${webtoon_name}
	</select>
	<insert id="insert">
		insert into ${webtoon_name} values ('${person_name}','${person_description}',${vote},'${person_image}');
	</insert>
	<update id="vote">
		update ${webtoon_name} set vote = vote + 1 where name='${person_name}';
	</update>
	<select id="voteCheck" resultType = 'java.lang.Boolean'>
		select exists(select 1 from ${vote_table} where ip='${ip}' and webtoon_name='${webtoon_name}');
	</select>
	<insert id="voteInsert">
		insert into ${vote_table} values ('${ip}','${webtoon_name}');
	</insert>
</mapper>